= "Dear #{@seller.full_name}, " 

p= "The count of product #{@product.name} in #{@variant.options_text} is less than 5"

p 
  |Please follow this link to manage stock: 
  = link_to "Add stock", main_app.merchant_product_stock_path(product_id: @product.slug)

br
|Best Regards, 
br 
| Pyklocal Support Team