= "Dear #{@store.manager_full_name}, " 

p You have requested to edit your store information.

p Store: 
	b= @store.name 

p 
	|Please follow this link to edit your store: 
	= link_to edit_merchant_store_url(id: @store.id), edit_merchant_store_url(id: @store.id, token: @token) 

p If you did not send this request, please notify Pyklocal support immediately.
br
|Best Regards, 
br 
| Pyklocal Support Team