span= "Hi, #{@store.manager_full_name}"
br
p Your store is successfully created. It will be approved by us within 12 - 24 hours.
p Thank you for your interest.

br
p For any query contact us at support@pyklocal.com

br
br
p 
  |Thaks & Regards:
  br
  Pyklocal Team

