.col-md-12#registration
            h2.login-title
              |Checkout as guest
            - if Spree::Config[:allow_guest_checkout] 
              #guest_checkout data-hook=""
                = render partial: 'spree/shared/error_messages', locals: {target: @order}
                = form_for @order, url: update_checkout_registration_path, method: :put, html: { id: 'checkout_form_registration', class: 'custom-form signup-form' } do |f|
                  .form-group
                    = f.label :email, Spree.t(:email), class: 'form-label'
                    = f.email_field :email,maxlength: "50",class: 'title form-control', id: 'email',:placeholder => Spree.t(:email)
                    span#invalid-email
                  .form-group
                    = f.submit Spree.t(:continue), class: 'btn btn-lg btn-primary btn-block'

-content_for :js do
  javascript:
    $(document).ready(function(){
      $('#checkout_form_registration').on('submit', function(e){
          e.preventDefault();
          if (validateEmail()) {
            this.submit();
          }
      });
    });

    $('#email').on('focusout',function(){
        validateEmail();
    });

    function validateEmail(){
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/  ;

      if ( $('#email').val().trim() == 0){
        $('#invalid-email').html("<p class='text-red'> Email can not be blank </p>");
         $('#invalid-email').show();
         return false;
      }
      else if(!re.test($('#email').val())){
        $('#invalid-email').html("<p class='text-red'> Email is invalid </p>");
         $('#invalid-email').show();
         return false;
      }
      else{
         $('#invalid-email').hide();
         return true;
      }

    }
