= form_for(@store, html: {class: "form-horizontal form-body"}) do |f|
  = hidden_field_tag :token, params[:token]
  .form-group
    = f.label :name, "Store Name", class: "col-sm-2 control-label"
    .col-sm-4
      span.input-icon.icon-right
        = f.text_field :name, class: "form-control input-bg" 
  .form-group
    = f.label :logo, class: "col-sm-2 control-label"
    .col-sm-4
      span
        = f.file_field :logo, class: "form-control" 
  .form-group
    = f.label :manager_name, class: "col-sm-2 control-label"
    .col-sm-2
      span.input-icon.icon-right
        = f.text_field :manager_first_name, class: "form-control input-bg", placeholder: "First Name" 
    .col-sm-2
      span.input-icon.icon-right
        = f.text_field :manager_last_name, class: "form-control input-bg", placeholder: "Last Name" 
  .form-group
    = f.label :phone_number, class: "col-sm-2 control-label"
    .col-sm-4
      span.input-icon.icon-right
        = f.text_field :phone_number, class: "form-control input-bg" 
  .form-group
    = f.label :store_type, class: "col-sm-2 control-label"
    .col-sm-4
      = f.select :store_type , options_for_select([['Physical', 'Physical' ],['Online', 'Online' ],['Both', 'Both' ]], @store.store_type), {}, class: "form-control input-bg"
  .form-group
    = f.label :site_url, "Website(s)", class: "col-sm-2 control-label"
    .col-sm-4
      span.input-icon.icon-right
        = f.text_field :site_url, class: "form-control input-bg", placeholder: "www.example.com" 
  .form-group
    = f.label :street_number, "Address", class: "col-sm-2 control-label"
    .col-sm-8
      span.input-icon.icon-right
        = f.text_field :street_number, class: "form-control input-bg", placeholder: "Street Address" 
  .form-group
    = f.label :street_number, " ".html_safe, class: "col-sm-2 control-label"
    .col-sm-2
      span.input-icon.icon-right
        = f.text_field :city, class: "form-control input-bg", placeholder: "City"
    .col-sm-2
      span.input-icon.icon-right
        = f.text_field :state, class: "form-control input-bg", placeholder: "State"
    .col-sm-2
      span.input-icon.icon-right
        = f.text_field :zipcode, class: "form-control input-bg", placeholder: "Zipcode"
    .col-sm-2
      span.input-icon.icon-right
        = f.text_field :country, class: "form-control input-bg", placeholder: "Country"
  .form-group
    = f.label :catogories, class: "col-sm-2 control-label" 
    - store_taxon_ids = @store.store_taxons.collect(&:taxon_id)
    - @taxons.each do |taxon|
      .col-sm-2
        label.checkbox-inline title="#{taxon.name}" 
          = check_box_tag "store[spree_taxon_ids][]", taxon.id, store_taxon_ids.include?(taxon.id)
          = truncate(taxon.name, length: 22)
  .form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-8
      span.input-icon.icon-right
        = f.text_area :description, class: "form-control input-bg", placeholder: "Few lines about your store...", rows: 5 
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit (@store.new_record? ? "Create" : "Update"), class: "btn btn-default btn-primary"
      = link_to "Cancel", main_app.merchant_path, class: "btn btn-default margin-left"