= form_for Spree::Wishlist.new, url: wishlists_path, method: :post do |f|
  = f.hidden_field :variant_id, value: product.master.id
  button.btn.fav-but type="submit"
    i.fa.fa-heart aria-hidden="true"
